# Files from build, cache, temp etc
build/
[Bb]in/
[Oo]bj/
[Cc]ached/
TestResults/
packages/*
!packages/repositories.config
*.suo
*.sln.cache 
*.user
*.tmp
*.orig

# OS files
.DS_Store
Thumbs.db
__MACOSX/

# Tools
.vs/
*[Rr]e[Ss]harper.user
_ReSharper.*/
*StyleCop.Cache

# Umbraco
*/App_Data/preview/
*/App_Data/TEMP/
*/App_Data/Logs/
*/App_Data/NuGetBackup/
*/App_Data/umbraco.config
*/media/created-packages/

# NuGet
*/packagecontents/*
!*/packagecontents/*.nuspec
