@model VideoResource

<div>
    <h3>@Model.ListingTitle</h3>
    <p>@Model.ListingText</p>
    <iframe width="280" height="157" src="https://www.youtube.com/embed/@Model.YouTubeVideoId" frameborder="0" allowfullscreen></iframe>
</div>
