@model VideoResource

<div>
    <div style="width: 266px; height: 143px; border: dashed 2px #aaa; padding: 5px;">
        <a href="https://www.youtube.com/embed/@Model.YouTubeVideoId">YouTube video @Model.YouTubeVideoId</a>
    </div>
    <p><a href="@Model.Url">@Model.HeaderText</a></p>
</div>
