@model VideoResource

<div>
    <iframe width="280" height="157" src="https://www.youtube.com/embed/@Model.YouTubeVideoId" frameborder="0" allowfullscreen></iframe>
    <p><a href="@Model.Url">@Model.HeaderText</a></p>
</div>
