@model IMetaData

<title>@Model.MetaTitle@Model.MetaTitleSuffix</title>
<meta name="description" content="@Model.MetaDescription" />
<meta name="keywords" content="@Model.MetaKeywords"/>
<link rel="canonical" href="@Model.CanonicalUrl"/>
