@model List
@{
    Layout = "WebPage.cshtml";
}

<div>
    @Html.Partial("MainTitle")
    <ul>
        @foreach (var item in Model.ChildListing)
        {
            <li>@Html.Template(item, "ChildListing")</li>
        }
    </ul>
</div>
