@model ResourceList
@{
    Layout = "WebPage.cshtml";
}

<div>
    @Html.Partial("MainTitle")
    @if (Model.ChildListing != null && Model.ChildListing.Any())
    {
        <ul>
            @foreach (var item in Model.ChildListing)
            {
                <li>@Html.Template(item, "ChildListing")</li>
            }
        </ul>
    }
</div>
