@model Zone.UmbracoTemplateEngine.Website.ContentTypes.Content.VideoResource
@{
    Layout = "WebPage.cshtml";
}

<div>
    @Html.Partial("_HeroVideo")
    @Html.Partial("_MainTitle")
    @Html.Partial("_Standfirst")
</div>
