@model VideoResource
@{
    Layout = "WebPage.cshtml";
}

<div>
    @Html.Partial("MainTitle")
    @Html.Partial("Standfirst")
    <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.YouTubeVideoId" frameborder="0" allowfullscreen></iframe>
</div>
